
html, body {
  padding: 0;
  margin: 0;
  background: #000;
  white-space: nowrap;
  font: 16px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  color: #CCC;
}

body > img {
  /* opacity: .01; */
}

*, ::after, ::before {
  box-sizing: border-box;
}

#map-info, .info-layout {
  position:relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 50px;
  padding: 20px;
}

#map-info h2, .info-layout h2 {
  margin:0;
  padding: 0;
}

.loading-blur {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  z-index: 0;
  opacity: 0.5;
}

.loading-blur img {
  min-height:100%;
  width:auto;
  height:auto;
  min-width:100%;
}

#map-info ol, .info-layout ol {
  display:flex;
  flex-wrap: wrap;
}

#map-info ol, #map-info ol li, .info-layout ol, .info-layout ol li, .main-menu, .main-menu li {
  list-style:none;
  margin:0;
  padding:0;
  max-width: 100%;
}

.main-menu {
  flex-wrap: wrap;
  display: flex;
}

.main-menu li {
  background-color: rgb(169, 147, 21);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0;
  flex-shrink: 0;
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.main-menu li a {
  color: white;
  text-decoration: none;
}


#map-info ol li, .info-layout ol li, .main-menu li {
  max-width: 200px;
  display:
  inline-block;
  margin:10px;
  white-space: normal;
  position: relative;
}

#map-info ol a, .info-layout ol a {
  display: inline-block;
  color: #CCC;
  text-decoration: none;
}

#map-info ol .title, .info-layout ol .title {
  width: 200px;
  display:flex;
  /* flex-direction: column; */
  text-align: center;
  vertical-align: middle;
  align-items: center;
  height: 150px;
  justify-content: center;
}

#map-info ol .title span, .info-layout ol .title span {
  flex-grow: 1;
  vertical-align: middle;
  margin: auto 0;
  display: inline-block;
}


#map-info ol img, .info-layout ol img {
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
  margin:auto;
}

#map-info .code {
  color: #111;
  background-color: rgba(255, 255, 255, .5);
  display:inline-block;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 50%);
  padding: 20px;
  max-height: 400px;
  overflow: auto;
}

#map-info .code:focus {
  max-height: unset;
}

#map-list, #game-list, .stream-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align:center;
  display:flex;
  flex-wrap: wrap;
}

#shader-list li {
  width: 200px;
}

#map-list li, #game-list li, .stream-list li {
  width: 300px;
  white-space: normal;
  display:
  flex;
  flex-direction: column;
  height: 200px;
  margin: 5px;
  position: relative;
  z-index: 1;
  background-image: url("/unknownmap.jpg");
  background-repeat: no-repeat;
  background-size: 0px 0px;
  background-position: -1px -1px;
  flex-shrink: 0;
  flex-basis: 300px;
}

#map-list li::before, #game-list li::before
, .stream-list li::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  border-radius: 10px 10px 0 0;
}

#map-list li::after, 
#game-list li::after, 
.stream-list::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  backdrop-filter: blur(5px);
  border-radius: 10px 10px 0 0;
}

#map-list img, #game-list img, .stream-list img {
  display:
  block;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
  height: auto;
  width: auto;
  max-width: 100%;
}


#map-list img.unknownmap, 
#game-list img.unknownmap, 
.stream-list img.unknownmap {
  height: 120px;
  width: 180px;
}

#map-list h3, #game-list h3, .stream-list h3 {
  background-color: rgb(68 21 169);
  border-radius: 10px 10px 0 0;
  margin: 0;
  flex-shrink: 0;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

#game-list h3 {
  background-color: rgb(16, 127, 47);
}

#map-list h3 {
  background-color: rgb(127, 16, 22);
}


.shaders li {
  overflow: hidden;
}

#map-info ol.tracemaps li {
  max-width: 100px;
}
#map-info ol.shaders li {
  max-width: 100px;
}

#map-info ol.shaders li img {
  box-shadow: none;
  max-height: 100px;
  max-width: 100px;
}


.shaders li a,
#map-list h3 span, #game-list h3 span
, .stream-list h3 span {
  white-space: nowrap;
  transform: translateX(0);
  transition: 1s;
  display:inline-block;
  min-width: 100%;
  padding: 0 20px;
}

.shaders li a:hover {
  width: auto;
  transform: translateX(calc(100px - 100%));
}

#map-info ol.shaders li img + a + img {
  position:
  absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  min-width: 70%;
  min-height: 0;
  width:
  auto;
}

#map-info ol.shaders li img + a + img + a + img {
  position:absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  min-width: 40%;
  min-height: 0;
  width:auto;
}


#map-list a:hover span, #game-list a:hover span, .stream-list a:hover span {
  width: auto;
  transform: translateX(calc(300px - 100%));
}

#shader-list a:hover span, .info-layout a:hover span {
  transform: translateX(calc(200px - 100%));
}

#map-list li a, #game-list li a, .stream-list li a {
  color: #CCC;
  text-decoration: none;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
}

#map-list li > a, #game-list li > a, .stream-list li > a {
  transition: text-shadow 0.3s ease-in-out;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1), 0px 1px 2px rgba(255, 255, 255, 1);
}

#map-list li > a:hover, #game-list li > a:hover, .stream-list li > a:hover {
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 1), 0px 2px 6px rgba(255, 255, 255, 1);
}


#viewport-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24em;
  z-index: 1;
  display: flex;
  /* padding-top:22px; */
  flex-direction: row;
}

#viewport-frame canvas {
  background-color: rgba(0, 0, 0, 0.0);
  width: 0;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display:inline-block;
}

