

html, body {
  padding: 0;
  margin: 0;
  background: #000;
  white-space: nowrap;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
}

body > img {
  opacity: .01;
}


#map-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#map-list img {
  max-height: 100px;
}

