[Unit]
Description=Quake proxy service.
[Service]
Type=simple
ExecStart=/usr/bin/node /home/Quake3e/planet_quake/code/wasm/bin/proxy.js
Restart=on-failure
[Install]
WantedBy=multi-user.target
